body {
    background-color: black;
}

nav {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: "Playfair Display", serif;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo img {
    width: 200px;
    height: 150px;
    transition: 300ms;
    object-fit: cover;
}

.logo img:hover {
    transform: scale(1.05);
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-list a {
    padding-block: 15px;
    transition: 300ms;
    font-weight: 500;
    font-size: 20px;
    color: #AC8C42;
}

#Contato {
    background-color: #AC8C42;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-list a:hover {
    font-size: 24px;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}

.hamburguer::after, .hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
    position: relative;
    transition: 0,3s;
}

@media (max-width: 930px) and (min-width: 0px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-in-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .nav-list a {
        margin-top: 150px;
        font-size: 20px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }
    .nav-list li:nth-child(5) a {
        transition: 0.5s 1s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transition: rotate(-135deg);
        top: 7px;
    }
}

.Contato {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-image: url("https://media.gettyimages.com/id/490788088/pt/v%C3%ADdeo/queda-diamantes-fundo.jpg?s=640x640&k=20&c=fG8bkHofQGWcsHOpsfgv7Slb0l00dERB8vwDUJ625wM=");
    background-repeat: no-repeat;
    background-size: cover;
    color: #AC8C42;
}

.Contato1 {
    background-color: black;
    padding: 40px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    transition: 300ms;
}

.Contato1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AC8C42;
    color: black;
    height: 50px;
    border-radius: 35px;
}

.Contato2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 40px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    margin-top: 30px;
    transition: 300ms;
}

.Contato2 input {
    height: 25px;
    width: 600px;
    transition: 300ms;
}

.Contato2 button {
    background-color: #AC8C42;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    transition: 300ms;
}

.Contato2 button:hover {
    background-color: #AC8C42;
    border-radius: 15px;
    height: 60px;
    cursor: pointer;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.footer-content {
    font-family: "Playfair Display", serif;
    color: #d7b053;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
}

.footer-content img {
    width: 70px;
}

.footer-content p {
    font-size: 17px;
}

@media (min-width: 1025px) {
    .footer-content img {
        width: 70px
    }

    .footer-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 30px;
    }

    .footer-logo {
        width: 200px
    }
}

/*tablet*/
@media (min-width: 750px) and (max-width: 1024) {
    .footer-content img {
        width: 50px
    }

    .footer-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
    }

    .footer-logo {
        width: 100px
    }

    .footer {
        flex-direction: column;
    }

    .Contato2 input {
        width: 900px;
    }
}

/*smartphone*/
@media (max-width: 749px) {
    .footer-content img {
        width: 40px
    }

    .footer-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
    }

    .footer-logo {
        width: 50px
    }

    .footer {
        flex-direction: column;
    }

    .Contato1 {
       width: 310px;
    }

    .Contato2 {
        width: 310px;
    }

    .Contato2 input {
        width: 300px;
    }
}