@import url("Base.css");

.topo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url("https://media.gettyimages.com/id/490788088/pt/v%C3%ADdeo/queda-diamantes-fundo.jpg?s=640x640&k=20&c=fG8bkHofQGWcsHOpsfgv7Slb0l00dERB8vwDUJ625wM=");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--douradoescuro);
}

.topo-text {
    background-color: var(--fundo);
    padding: 40px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: var(--shadow);
}

.topo-text button {
    background-color: var(--douradomaisescuro);
    padding: 10px 5px;
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
}

.topo-text button:hover {
    background-color: var(--douradomaisescuro);
    color: white;
    transform: scale(1.1);
}

.categorias {
    padding: 60px 40px;
    background-color: var(--fundo);
    color: var(--douradomaisescuro);
}

.categorias-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.item-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    border: 2px solid var(--douradoescuro);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    transition: 300ms;
    cursor: pointer;
}

.item-categoria h1 {
    color: var(--douradoescuro);
}

.item-categoria-image img{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    object-fit: cover;
}

.item-categoria:hover {
    transform: scale(1.1);
}

.produtos {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--douradomaisescuro);
}

.title h1 {
    text-align: center;
    color: var(--fundo);
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

.container-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.product {
    background-color: var(--douradoescuro);
    color: var(--fundo);
    border-radius: 15px;
    border: solid 1px var(--fundo);
    padding: 20px;
}

.product h3 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-family: "Playfair Display", serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.product button {
    background-color: var(--fundo);
    color: var(--douradoescuro);
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    transition: 300ms;
}

.product button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 45%;
    left: 45%;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-content {
    background-color: var(--douradoescuro);
    padding: 20px;
    color: var(--fundo);
    font-family: "Playfair Display", serif;
    border-radius: 10px;
    border: black 3px solid;
}

.modal-content button{
    margin-top: 10px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.close {
    position: absolute;
    margin-top: 3px;
    margin-right: 10px;
    top: 0;
    right: 0;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.footer-content {
    font-family: "Playfair Display", serif;
    color: var(--douradoescuro);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    transition: 300ms;
}

.footer-content img {
    width: 70px;
    transition: 300ms;
}

.footer-content p {
    font-size: 17px;
}

.footer-logo {
    transition: 300ms;
}

/*desktop*/
@media (min-width: 1025px) {
    .footer-content img {
        width: 70px
    }

    .footer-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 30px;
    }

    .footer-logo {
        width: 200px
    }
}

/*tablet*/
@media (min-width: 750px) and (max-width: 1024) {
    .footer-content img {
        width: 50px
    }

    .footer-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
    }

    .footer-logo {
        width: 100px
    }

    .footer {
        flex-direction: column;
    }
}

/*smartphone*/
@media (max-width: 749px) {
    .footer-content img {
        width: 40px
    }

    .footer-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
    }

    .footer-logo {
        width: 50px
    }

    .footer {
        flex-direction: column;
    }
}